<header>
    <a href="/" title="Accueil"><h1>Wiki-Character</h1></a>

    <nav id="menu" class="hide">
        <a href="/" title="Accueil">Accueil</a>
        <a href="/liste-personnages" title="Liste des personnages">Personnages</a>
        <a href="/authentification" title="Authentification">Connexion</a>
    </nav>
    <button
        id="toggle-menu"
        title="afficher le menu"
        aria-label="afficher le menu"
    >
        open menu
    </button>
</header>
