<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wiki-character</title>
    <link rel="stylesheet" href="/css/index.css">
    <meta property="og:type" content="wiki-character">
    <meta property="og:url" content="https://wiki-character.vercel.app/">
    <meta property="og:title" content="Retrouve tes héros préférés">
    <meta property="og:description" content="Tu cherches l'histoire d'un héros, manga, comics ? Nous avons sûrement la réponse !">
    <meta property="og:image" content="/img/thumbnail_OG.png">
</head>
<body>

    <%- include("header") %>
    <%- include(template) %>
    <%- include("footer") %>
    
    <script src="/js/menu.js"></script>
</body>
</html>