<main id="not-found">
    <h2>404</h2>
    <p lang="en">Page not found</p>
    <p>La page que vous cherchez n'existe pas.</p>
    <a class="back-btn" href="/liste-personnages" title="vers la liste des personnages">Retour à la liste</a>
</main>